.root {
  display: block;
  width: 100%;
}

.table {
  display: table;
  width: 100%;

  table-layout: fixed;
}

.row {
  display: table-row;
}

.cell {
  display: table-cell;

  &:nth-child(4) {
    width: 100px;
  }

  &:nth-child(3) {
    width: 150px;
  }

  &:nth-child(2) {
    width: 100px;
  }
}

.header {
  composes: row;

  .cell {
    box-sizing: border-box;
    padding: 6px 0;
    border-bottom: 1px solid #cccccc;
  }
}

.item {
  composes: row;

  .cell {
    box-sizing: border-box;
    padding: 6px 0;
  }
}

.amountField {
  display: flex;

  box-sizing: border-box;
  padding-right: 20px;
}

.amountInput {
  display: block;
  width: 100%;
  box-sizing: border-box;
}

.amountLabel {
  display: block;
  margin-left: 6px;
}

.deleteBtn {
  display: inline-block;

  padding: 4px 6px;

  cursor: pointer;
  user-select: none;

  background-color: #cccccc;
  border-radius: 4px;
}
