.group {
  display: block;
  width: 100%;

  box-sizing: border-box;
  border-bottom: 1px solid #cccccc;

  & + & {
    margin-top: 25px;
  }
}

.groupTitle {
  display: block;
  width: 100%;

  box-sizing: border-box;
  padding: 4px 0 4px 4px;

  font-weight: bold;

  background-color: #cccccc;
}

.groupItems {
  display: block;
  width: 100%;
}

.item {
  display: grid;
  grid-template-rows: 1fr;
  grid-template-columns: 1fr 60px 60px auto;

  width: 100%;
}

.itemCell {
  display: flex;
  align-items: center;
  justify-content: center;

  padding: 2px 0;

  &:nth-child(1) {
    justify-content: flex-start;

    box-sizing: border-box;
    padding-left: 4px;
  }

  &:nth-child(4) {
    justify-content: flex-end;
    padding-left: 10px;
  }
}

.buyBtn {
  display: inline-block;

  padding: 4px 6px;

  cursor: pointer;
  user-select: none;

  background-color: #cccccc;
  border-radius: 4px;

  &.disabled {
    user-select: none;
    cursor: default;
    opacity: 0.3;
  }
}

.priceIncreased {
  background-color: #00ff00;
}

.priceDecreased {
  background-color: #ff0000;
}
